<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<style>
  
</style>
<body>
  <div class="files-header">
   <% if (folders || files.length > 0) { %>
  <h1>Files in <%= folders.name ||files[0].folder.name %></h1>
<% } else { %>
  <h2>No files found </h2>
<% } %>
  <input type="submit" value="📄 New File" class="newfile">
  </div>
     <div class="modal-file" id="newFileModal">
          <div class="modal-file-content">
          <span class="file-close">&times;</span>
         <h2>Create New Folder</h2>
         <form action="/upload" method="POST" enctype="multipart/form-data">
          <input type="file" name="avatar" id="file" required>
      <button type="submit" class="model-button">Create</button>
    </form>
  </div>
         </div>
  <div class="files-content">
    <% if (files.length > 0) { %>
   <table border="1" cellpadding="8" cellspacing="0">
  <thead>
    <tr>
      <th>Name</th>
      <th>Size</th>
      <th>Created At</th>
      <th>Updated At</th>
      <th>options</th>
    </tr>
  </thead>
  <tbody>
    <% files.forEach(file => { %>
      <tr>
        <td><%= file.name %></td>
        <td><%= file.size %></td>
        <td><%= file.createdAt.toLocaleString() %></td>
        <td><%= file.updatedAt.toLocaleString() %></td>
      </tr>
    <% }) %>
  </tbody>
</table>

  <% } else { %>
    <h3>No files in this folder</h3>
  <% } %>
  </div>
</body>
<script src="/js/helper.js"></script>
</html>